* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    padding: 10px;
    background-color: aqua;
    gap: 20px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 200px);
}

.child {
    background-color: blue;
    border: 2px solid red;
}