* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100px;
    height: 100px;
    background-color: red;
    margin: 20px;
}

.container:hover {
    background-color: blue;
}