* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    color: red;
}

header {
    background-color: aqua;
    height: 10vh;
}

main {
    background-color: aquamarine;
    height: calc(100vh - 10vh);
    width: max(200px, 50px);
}