* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    font-size: 10px;
    --border-color: #387ed1;
    --text-color: #ff00ff;
    --common-padding: 0 140px;
}

h1 {
    color: var(--border-color);
    padding: var(--common-padding);
} 

p {
    color: var(--text-color);
    padding: var(--common-padding);
}