* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: white;
    --text-color: black;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* If user has black theme ---> --bg-color: black, --text-color: white */
@media (prefers-color-scheme: dark) {
    :root {
        --bg-color: black;
        --text-color: white;
    }
}