* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    height: 100px;
    width: 100px;
    background-color: blue;
    display: none;
}

p:hover + .box {
    display: block;
}

.box-2 {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    display: none;
}

input:focus + .box-2 {
    display: block;
}

input:checked + p {
    color: greenyellow;
}