* {
    margin: 0;
    box-sizing: border-box;
}

li:first-child {
    color: red;
}

li:last-child {
    color: blue;
}

li:nth-child(5) {
    color: yellowgreen;
}

li:nth-of-type(3) {
    color: orange;
}