* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box {
    height: 100px;
    width: 100px;
    background-color: blue;
    display: none;
}

.box:none {
    background-color: red;
}
