* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent {
    /* No need to write 3 individual lines can also be written in single line */
    border: 2px solid red;
    /* border-width: 2px;
    border-style: solid;
    border-color: red; */
}

.child-1 {
    height: 100px;
    width: 200px;
    background-color: aqua;
}

.child-2 {
    height: 100px;
    width: 200px;
    background-color: aquamarine;
}