* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p::first-line {
    color: red;
    font-size: 20px;
}

p::first-letter {
    font-size: 30px;
}

::-webkit-scrollbar {
    background-color: aquamarine;
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: blue;
    border: 2px solid black;
}