* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent1 {
    border: 2px solid red;
    background-color: aquamarine;
    padding: 20px;
    display: flex;
    gap: 20px;
}

.child1 {
    height: 100px;
    width: 100px;
    border: 2px solid black;
    background-color: blueviolet;
}