.para-1 {
    color: red;
    background-color: yellow;
    height: 100px;
    width: 500px;
    font-family: 'Arial', sans-serif;
    text-align: center;
    font-weight: bold;
}

.para-2 {
    color: blue;
    background-color: lightgray;
    height: 150px;
    width: 600px;
    font-family: 'Times New Roman', serif;
    text-align: left;
    font-style: italic;
}

#my-h3 {
    color: green;
    background-color: lightblue;
    height: 300px;
    width: 400px;
    font-family: 'Verdana', sans-serif;
    text-align: center;
}