* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box {
    height: 100px;
    width: 100px;
    background-color: aquamarine;

    position: fixed;
}

.container-1 {
    height: 50vh;
    background-color: blueviolet;
}

.container-2 {
    height: 50vh;
    background-color: chartreuse;
}

.container-3 {
    height: 50vh;
    background-color: darkolivegreen;
}

.container-4 {
    height: 50vh;
    background-color: rgb(255, 0, 0);
}