* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent {
    width: 520px;
    padding: 10px;
    border: 4px solid black;

    /* position: relative; */
}

img {
    width: 500px;
}

h1 {
    color: white;
    background-color: red;
    width: 500px;

    position: absolute;
    top: 50px;
}