* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    height: 100px;
    width: 100px;
    background-color: blueviolet;
    /* animation-direction: reverse; */
    /* animation-direction: alternate; */
    animation: bounce-animation 1s linear infinite alternate;
}

@keyframes bounce-animation {
    from {
        transform: translateY(0px);
    }
    to {
        transform: translateY(50px);
    }
}